form {
  padding: 24px 16px;
  background-color: #fff;
  border-radius: 5px;
  margin: 8px;
  -webkit-box-shadow: 0px 10px 26px -13px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 10px 26px -13px rgba(66, 68, 90, 1);
  box-shadow: 0px 10px 26px -13px rgba(66, 68, 90, 1);
  max-width: 800px;
}
fieldset {
  border-radius: 6px;
  border: 1px solid #5570f1;
  margin: 15px 0;
}
h2 {
  text-align: center;
  font-size: calc(19px + 0.2vw);
}
section + section {
  margin-top: 35px;
}
button {
  background-color: #5570f1;
  border: none;
  padding: 20px 16px;
  width: 100%;
  color: #fff;
  font-weight: 600;
  font-size: calc(20px + 00.2vw);
  margin: 20px 0;
  border-radius: 15px;
  will-change: transform;
  cursor: pointer;
  transition: transform 0.1s ease-in;
}
button:hover {
  transform: scale(1.01);
}
button:focus {
  outline: 2px solid #06176b;
}

button.add {
  background-color: #8da0ff;
  padding: 10px 8px;
}
button.add:focus {
  outline: 2px solid rgb(85, 112, 241);
}
