.input-container label {
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 0.2vw);
}
.input-container + .input-container {
  margin-top: 15px;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  border: 1px solid #5570f1;
  padding: 6px 4px;
  border-radius: 4px;
  font-size: calc(16px + 0.2vw);
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: 1px solid #5570f1;
}
